# SPACE EYE AI Worker
opencv-python-headless==4.10.0.84
Pillow==10.4.0
imagehash==4.3.1
scikit-image==0.24.0
pytesseract==0.3.13
numpy==1.26.4
redis==5.0.8
fpdf2==2.7.9
requests==2.32.3
python-dotenv==1.0.1
